.track {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 40rem;
  margin: auto;
}

.track p {
  font-size: 1.2rem;
}

.progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.progress p {
  height: 4rem;
  border-right: 4px solid grey;
}

.icon {
  width: 4rem;
  height: 4rem;
}

.list:last-child .progress:last-child {
  opacity: 0;
}
