.section {
  margin-bottom: 6rem;
}

.section h2 {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 3rem;
}

.manage {
  display: flex;
  max-width: 90rem;
  margin: auto;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 5rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}

.content a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #1864ab;
}

.holiday {
  max-width: 100rem;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 4rem;
  background-color: #fafafa;
  padding: 2rem 3rem;
}

.clock {
  width: 16rem;
  height: 16rem;
}

.clock img {
  width: 100%;
  height: 100%;
}

.holiday h2 {
  text-align: left;
}

.holiday p {
  font-size: 1.6rem;
  font-weight: 200;
  margin-bottom: 4rem;
}

.holiday a {
  color: #1864ab;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
}

@media (max-width: 75em) {
  .content {
    gap: 2rem;
  }

  .content img {
    width: 8rem;
  }

  .section {
    padding: 1rem 0;
  }
}

@media (max-width: 50em) {
  .clock {
    width: 14rem;
    height: 10rem;
  }
}

@media (max-width: 40em) {
  .holiday h2 {
    font-size: 1.6rem;
  }

  .holiday p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .holiday a {
    font-size: 1.4rem;
  }

  .clock {
    width: 12rem;
    height: 6rem;
  }
}

@media (max-width: 37.5em) {
  .manage {
    flex-direction: column;
  }
}
