.section {
  max-width: 100rem;
  margin: auto;
}

.title {
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 4rem;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
}

.photo {
  flex: 1;
}

.photo img {
  width: 100%;
}

.info {
  margin-left: 3rem;
  flex: 1;
}

.info h2 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.info p {
  font-size: 1.6rem;
  font-weight: 200;
  margin-bottom: 2rem;
}

.info p a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 400;
  color: black;
}

.info button {
  padding: 2rem 3rem;
  border-radius: 50px;
  border: 2px solid #1864ab;
  color: #1864ab;
  background-color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}

@media (max-width: 58.2em) {
  .info h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .info p {
    font-size: 1rem;
  }

  .info p a {
    font-size: 1.4rem;
    font-weight: 600;
  }

  .info button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 600;
  }
}

@media (max-width: 38.25em) {
  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .photo {
    max-width: 30rem;
  }

  .info {
    max-width: 30rem;
    margin-left: 0rem;
  }

  .title {
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }
}
