.form {
  max-width: 40rem;
  margin: auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 4px;
  position: relative;
}

.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.4rem;
}

.group input {
  outline: none;
  border: none;
  border-bottom: 2px solid grey;
}

.group label {
  color: #4d148c;
  font-size: 1.4rem;
  font-weight: 600;
}

.action button {
  border: none;
  padding: 0.4rem 2rem;
  font-size: 1.4rem;
  background-color: #1c7ed6;
  color: #fff;
  border-radius: 8px;
}
