.form {
  max-width: 40rem;
  margin: auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  padding: 4rem;
}

.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.action button {
  border: none;
  padding: 0.4rem 2rem;
  font-size: 1.4rem;
  background-color: #1c7ed6;
  color: #fff;
  border-radius: 8px;
}
